.home {
    background: #15202B;
    background: linear-gradient(90deg, rgba(45, 32, 70,1) 60%, rgba(45, 32, 70,1)80%);
    color: #fff;
    display: flex;
    height: 400px;
    align-items: center;
    padding-top: 100px;
    position: relative;
}

.home .container {
    position: absolute;
    top: 10%;
    left: 2%;
    padding-top: 80px;
}

.home .image {
    position: absolute;
    height: 30%;
    bottom: 0;
    border-radius: 4px;
}

.home .image2 {
    position: absolute;
    height: 65%;
    right: 10%;
    border-radius: 4px;
}

.home .container .hello {
    font-size: 55px;
}


.container h1 {
    margin: 0;
}

.container p {
    font-size: 12px;
    position: absolute;
    margin: 0;
    left: 20%;
    padding-left: 50px;
}





@media screen and (max-width: 1020px){
    .home .image2 {
        height: 8vh;
        right: 0;
        bottom: 1%;
    }
}


@media screen and (max-width: 798px){

    .home {
        height: 300px;
        padding-top: 50px;
    }

    .home .container {
        position: absolute;
        top: 0%;
        left: 2%;
        padding-top: 50px;
    }

    .home .container .hello {
        font-size: 4vh;
    }

    .home .container .name{
        font-size: 3vh;
    }

    .container p {
        padding-left: 40px;
        font-size: 8px;
        width: 100%;
    }
    
}



@media screen and (max-width: 698px){

    .home {
        height: 250px;
        padding-top: 30px;
    }

    .home .container {
        position: absolute;
        top: 0%;
        left: 2%;
        padding-top: 40px;
    }

    .home .image {
        height: 13vh;
    }

    .home .container p{
        left: 0%;
        width: 100%;
        font-size: 6px;
        text-align: start;
    }
}